.page {
  width: 1500px;
  background-color: #E5E8E8;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.spacing {
  height: 100px; 
}

.divider {
  display: flex;
  background-color: #000080;
  margin-bottom: 10px;
  height: 10px; 
  width: 100%; 
}

.tooltip {
  background-color: #fddfaf;
  color: #000000;
  border: 2px solid #000000;
  padding: 5px;
  text-align: left; /* Adjust alignment as needed */
}


body *{
  font-family: 'Open Sans', sans-serif;
}

.title {
  display: flex;

  justify-content: center;
  height: 150px;
  margin-bottom: 40px;
  align-items: center;

  font-size: 50px;
  font-weight: 500;
  text-align: center;

  color: white;
  background-color: #000080;
}

body {
  background-color: lightgray;
}



.vis-container {
  width: 100%;
}

h1 {
  font-weight: 50, bold;
  font-size: 40px;

  text-align: left;

  height: 100px;
  
  align-items: center;
  margin-bottom: 30px;


  
}

.description h2
{
  display: flex;
  font-size: 25px;
  font-weight: 100;
  height: 100px;
  max-width: 40em;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
  justify-content: center;
  text-align: justify;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

.para {
  font-size: 20px;
  text-align: justify;
  max-width: 35em;
}

.para_middle {
  font-size: 20px;
  text-align: justify;
  max-width: 60em;
}