.tooltip {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
    text-align: left; /* Adjust alignment as needed */
  }

.title {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100px; /* Set a fixed height for the container */
    color: white;
    background-color: #000080;
}

.description {
  /*justify-content: center; */
  align-items: center;      /* position in center (vertical) */
  max-width: 40em;          /* Justify paragraphs */
  margin: 0 auto;           /* Center-align the paragraph */
  text-align: justify;
}

.spacing {
  height: 100px; 
}